 html{
    font-size: 62.5%;
}

body{
    padding: 0;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(160, 186, 249);
}

#encabezado{
    border: 0.2em solid rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 2fr 3fr 4fr;
    justify-items: center;
    align-items: center;
}

#encabezado img{
    width: 70%;
    height: 70%;
    aspect-ratio: 1/1;
    border-radius: 90%;
    object-fit: cover;
}
h1{
    font-size: 3.5em;
    text-align: center;
}

#navegacion{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.5em;
    gap: 1em;

}

#navegacion a{
    text-decoration: none;
    text-shadow: 0.2em 0.2em 0.2em 0.2em blue;
    text-align: center;
    font-size: 1.3em;
    color: white;
    background-color: rgb(44, 68, 207);
    border-radius: 10%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

#navegacion a:hover{
    background-color: rgb(59, 88, 205);

}

#contenedor-noticias{
    border: 0.1em solid black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;

}

.noticias{
    border: 0.1em solid black;
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.noticias h2{
    grid-column: 1 / 4;
    text-align: center;
    align-content: center;
    
}

.noticia{
    border: 0.2em solid black;
    box-shadow: 0.2em 0.2em 0.2em black;
    align-content: center;
}

.noticias-urgentes{
    border: 0.2em solid rgb(0, 0, 0);
    grid-column: 5 / 7;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 30em;
    overflow-y: auto;
}

.noticias-urgentes h2{
    text-align: center;
    align-content: center;
}

.noticia-u{
    border: 0.2em solid rgb(0, 0, 0);
    box-shadow: 0.2em 0.2em 0.2em blue;
    align-content: center;
    text-align: center;
    height: 20em;
}

#pie-pagina{
    border: 0.2em solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 /3;
    
}